h3{
    margin-top:0px;
    margin-bottom:10px;
}

.left_nav{
    font-family: Oswald;
    color:white;
    position: fixed;
    background-color: #282828;
    width:20%;
    height:100%;
}

.nav_item{
    width:100%;
    height:20%;
}

.absolute_hook{
    position: relative;

}

.nav_icon{
    position: absolute;
    height:100%;
    width:25%;
    top:5%;
    right:0%;
    color:white;
    z-index:1;
}
.nav_icon > img {
    height:25px;
    width:25px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.nav_content{
    position:relative;
    left:10px;
    width:100%;
}

#visualization {
  width:90%;
  margin-right:auto;
  margin-left: auto;
}

#clipboard {
    position: absolute;
    background-color: #f0efff;
    top: 48%;
    width:100%;
    height: 52%;
}

input[type=checkbox] {
    margin-left: 6px;
}

#content {
    position: fixed;
    right: 0%;
    top: 0%;
    width: 80%;
    height: 100%;
}

#content_manager {
    position: absolute;
    color:black;
    text-align: center;
    background-color: #ffeded;
    height:48%;
    width:100%;
    border-bottom: black solid 5px;

   z-index: 1;
}


.black-background{
    background-color: black;
    position: fixed;
    z-index: -1;
    height: 100%;
    width:100%;
}

a {
    z-index: 1;
    height: 20%;
    font-family: Oswald;
    color: white;
    font-size: 25px;
}

.glyphicon {
    text-align: center;
    font-size:24px;
    color: white;
    display: block;
}

.cell {
    height:30px;
    width:30px;
}

.toggle {
    z-index: 3;
    position:absolute;
    display: table;
    vertical-align: middle;
    left: 15%;
    width: 5%;
    height: 100%
}

.icon_container {
    z-index: -1;
    position:absolute;
    display: table;
    vertical-align: middle;
    width: 15%;
    height: 100%
}
.vis.timeline {
    color:black !important;
}

