<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Informatics Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/css/vis.css" rel="stylesheet" type="text/css"> -->
    <link rel="icon"
      type="image/png"
      href="/static/images/favicon.png">
    <link href='/static/css/Home.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="/static/scripts/vis.min.js"></script>
    <link href="/static/css/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/scripts/blue/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="height: 100%;">

<div class="left_nav">

    <div class="offset" style="width:100%; height:2%;"></div>

    <div class="nav_item">

        <div class="absolute_hook">
            <div class="nav_icon icon_left glyphicon glyphicon-chevron-left" id="nav_toggle"></div>
        </div>

        <div class="nav_content" style="z-index:0">
            <h3 id="patient-nav-header"> Patient: Marla Jones </h3>


        <div>
        <select id="patient-select" class="form-control">
            <option value="MarlaCCD.xml">Marla Dixon</option>
            <option value="MyraCCD.xml">Myra Jones</option>
            <option value="PhillipCCD.xml">Phillip Jones</option>
        </select>
        <a id="download-link" href="../static/ccd/MarlaCCD.xml" download="MarlaCCD.xml">
            <button id="download-ccd-button" class="btn btn-primary">Download CCD</button>
        </a>
        </div>


        </div>



    </div>

    <div class="nav_item">
        <div class="absolute_hook">
            <div class="nav_icon">
                <img src="/static/images/profile.png">
            </div>
        </div>
        <div class="nav_content" id="profile_nav">
            <h3> Profile </h3>
        </div>
    </div>

    <div class="nav_item">

        <div class="absolute_hook">
            <div class="nav_icon" >
                <img src="/static/images/timeline.png">
            </div>
        </div>

        <div class="nav_content" id="timeline_nav">
            <h3> Timeline </h3>

            <div class="check_items" style="display:none">
                <input type="checkbox"> <span class="check-label"> Allergies </span>
                <input type="checkbox"> <span class="check-label"> Medications </span>
                <input type="checkbox"> <span class="check-label"> Encounters </span>
                <br>
                <input type="checkbox"> <span class="check-label"> Functional Status </span>
                <input type="checkbox"> <span class="check-label"> Immunization </span>
                <br>
                <input type="checkbox"> <span class="check-label"> Declined Immunizations </span>
                <input type="checkbox"> <span class="check-label"> Problems </span>
                <br>
                <input type="checkbox"> <span class="check-label"> Procedures </span>
                <input type="checkbox"> <span class="check-label"> Lab Results </span>
                <input type="checkbox"> <span class="check-label"> Vitals </span>
            <br>
            </div>
        </div>
    </div>

    <div class="nav_item">

        <div class="absolute_hook">
            <div class="nav_icon">
                <img src="/static/images/table.png">
            </div>
        </div>

        <div class="nav_content" id="table_nav">
            <h3> Table </h3>
            <div class="check_items" style="display:none">
            </div>
        </div>
    </div>

    <div class="nav_item" style="height:10%;">

        <div class="absolute_hook">
            <div class="nav_icon">
                <img src="/static/images/help.png">
            </div>
        </div>

        <div class="nav_content" id="recent_issues_nav">
            <h3>Help Documentation</h3>
        </div>


    </div>

    <div class="nav_item" id="logout_nav">
        <div class="nav_content">
            <a href="/sign_on/"><h3>Logout</h3></a>
        </div>
    </div>
    <div id="bottom_image">
        <img src="/static/images/medocs.png" >
        <div id="bottom_text">Icons made by Freepik, Elegant Themes, Icomoon, Google from www.flaticon.com is licensed by CC BY 3.0</div>
    </div>
</div>


<div id="content">

    <div id="content_manager">
        <h2 id="cm_header"> </h2>
        <div class="cm_widget" name="Timeline" id="timeline"></div>
        <div class="cm_widget" name="Profile" id="profile">
            <div id="gen_info">
                <div class="col-sm-5">
                    <div class="textbox cm_textbox" id="patient_info">
                        <div class="header">
                            <h3> Patient Details</h3>
                        </div>
                        <div class="widget_content">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="textbox cm_textbox" id="author_info">
                        <div class="header">
                            <h3> Author Details </h3>
                        </div>
                        <div class="widget_content">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="textbox cm_textbox" id="custodian_info">
                        <div class="header">
                            <h3> Custodian Details </h3>
                        </div>
                        <div class="widget_content">
                        <p></p>
                        <!--
                            <p> Good Health Clinic </p>
                            <p> 123-456-1023 </p>
                            <p> 1234 Atlantic Dr. </p>
                            <p> Atlanta, GA 30318 </p>
                        -->
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
            <h3>Allergies, Adverse Reactions, and Alerts</h3>
            <div id="allergies-data">
            </div>
            <h3>Care Plan</h3>
            <div id="care-plan-data">
            </div>

            <h3>Encounters</h3>
            <div id="encounters-data">
            </div>

            <h3>Functional Status</h3>
            <div id="functional-status-data">
            </div>

            <h3>Immunizations</h3>
            <div id="immunizations-data">
            </div>

            <h3>Declined Immunizations</h3>
            <div id="declined-immunizations-data">
            </div>

            <h3>Medications</h3>
            <div id="medication-data">
            </div>

            <h3>Problems</h3>
            <div id="problems-data">
            </div>

            <h3>Procedures</h3>
            <div id="procedure-data">
            </div>

            <h3>Results - Lab</h3>
            <div id="lab-data">
            </div>

            <h3>Smoking Status</h3>
            <div id="smoking-data">
            </div>

            <h3>Vitals</h3>
            <div id="vitals-data">
            </div>
        </div>
    </div>

    <div class="cm_widget" name="Table" id="table">
        <table id="patient_table"  class="tablesorter" style="width:80%; margin-left: auto; margin-right: auto;">
            <thead>
            <tr>
                <th class="header">Date / Start Date</th>
                <th class="header">Finish Date</th>
                <th class="header">Category</th>
                <th class="header">Content</th>
            </tr>
            </thead>
            <tbody id="patient_table_body"></tbody>
        </table>
    </div>

    <div class="cm_widget" name="Help Documents" id="help_documents"></div>
</div>

<div id="clipboard_toolbar">
        <div id="label_block">

            <div id="tab_title"> Toolbar </div>
        </div>

        <div id="clip_up_down">
            <div id="clipboard_slider_up" class="glyphicon glyphicon-chevron-up"></div>
            <div id="clipboard_slider_down" class="glyphicon glyphicon-chevron-down"></div>
        </div>
        <div class="indent"> indent
        </div>

</div>

<div id="clipboard">
    <div id="default_text">  Use the Content Manager Above to Add Items to Your Clipboard</div>
    <!-- <canvas id="example_bar_chart" width="600" height="400"></canvas> -->
</div>

</div>

   {% block image %}
   {% endblock %}
        {% block content %}
        {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/bluebutton.js"></script>
    <script src="/static/scripts/Chart.js"></script>
    <script src="/static/scripts/jquery.tablesorter.js"></script>
    <!--<script src="/static/scripts/vis.js"></script> -->
    <script>
    </script>
</body>
</html>
